doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    block title
      title slackomatic
    block meta

    link(rel='stylesheet', href='/css/slackomatic.css')
  body.slackomatic
    main
      block content
