main
   div.full-width.two-value-chooser
      span.button-description.
         Set Master:
      button.off Off
      button.on On
   span.description.
      The audio and video of the selected device will be shown on the projector and played on the hifi. To display stuff from your own HDMI capable device just connect the black spare HDMI cable and select "My own HDMI port".
   div.masonry-buttons
      button.select-input ScreenInvader

